<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    {% extends 'bank/base.html' %}

{% block content %}
<h1>Account Details</h1>
<p>Account Number: {{ account.id }}</p>
<p>User: {{ account.user.username }}</p>
<p>Balance: ${{ account.balance }}</p>
{% endblock %}

<div class="btn-line">
    <button><a href="{% url 'transfer' account.id %}">Transfer Funds</a></button>
    <button><a href="{% url 'transaction_history' account.id %}">Transaction History</a></button>
</div>
</body>
</html>